<header class="container">
  <h1>Angular Testing</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid commodi
    rerum aliquam quo! Molestias quasi nemo nulla qui voluptatem odit reiciendis
    nostrum blanditiis ratione. Repellat commodi totam esse. Eius, iusto.
  </p>
  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/products">Products</a></li>
      <li><a routerLink="/pico-preview">Pico Preview</a></li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
